* {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: Arial, sans-serif;
    }

   

    body {
        background: #f1f3f6;
    }

    /* HEADER */
    header {
        background:white;
        color:#2874f0;
        padding: 10px 30px;
        display: flex;
        align-items: center;
        color: white;
    }

    header h2 {
        margin-right: 20px;
        color: blue;
    }

    header input {
        width: 70%;
        height: 40px;
        padding: 8px;
        border-radius: 2px;
        border: none;
          color: black;
          background-color: rgb(237, 238, 245);
          border-radius: 10px;
    }

    header .menu {
        margin-left: auto;
        display: flex;
        gap: 20px;
          color: black;

    }

    .categories {
        background: white;
        display: flex;
        justify-content: space-around;
        padding: 15px;
        font-weight: bold;
       
    }

  
    .poster {
        margin: 15px auto;
        width: 95%;
        height: 250px;
        background: linear-gradient(to right, #1c6cf2, #3b8dff);
        color: white;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 30px;
        border-radius: 5px;
    }

    /* TOP DEALS */
    .deals {
        background: white;
        margin: 15px;
        padding: 15px;
    }

    .deals h2 {
        margin-bottom: 15px;
    }

    .deal-items {
        display: flex;
        justify-content: space-around;
    }

    .item {
        text-align: center;
    }

    .item img {
        width: 180px;
        height: 170px;
    }


            * {
            box-sizing: border-box;
            font-family: Arial, sans-serif;
        }

      
        .promo-container {
  text-align: center;
  margin-top: 20px;
}

.promo-image {
  width: 100%; 
  height:90%; ; 
 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
}

             .cards {
  text-align: center;
  margin-top: 10px;
}

.cards-image {
  width: 33%; 
  height:50%; ; 
 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 

}
 body {
            margin: 0;
            background: #f1f3f6;
        }