<<<<<<< HEAD
body{
    font-family:Ariaal,Sans-Sarif;
    Margin:0;
    padding:0;
    background-color:#f5f5f5;
    h1{
        text-align: center;
        padding:20px;
        color:#333;
    }
}
=======
body{
    font-family:Ariaal,Sans-Sarif;
    Margin:0;
    padding:0;
    background-color:#f5f5f5;
    h1{
        text-align: center;
        padding:20px;
        color:#333;
    }
}
>>>>>>> bb5293de7c925294ad20e4e3c3b5f7f8a00784de
