<style>
body {
     font-family: Axial,sans-serif;
    margin: 20px;
    background-color: #fff;
}

.container {
    display: flex;
    flex-direction: row;
    background-color: #fff;
    padding: 10px;
    border: 1px solid #ccc;
}
.box{
    color: white;
    padding: 20px;
    text-align: center;
    border-radius: 5px
}

.box{ background-color:#2196f3 }
.box{ background-color:#ff0000 }
.box{ background-color:#ff9800 }
.box{ background-color: #9c27b0 }
.box{ background-color:#009678 }

</style>